certifi==2022.12.7
chardet==4.0.0
charset-normalizer==3.1.0
colorama==0.4.6
contourpy==1.1.0
cycler==0.10.0
fonttools==4.40.0
idna==2.10
imageio==2.31.1
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.25.0
opencv-python==4.8.0.74
packaging==23.1
Pillow==10.0.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-dotenv==1.0.0
PyYAML==6.0
requests==2.31.0
requests-toolbelt==1.0.0
roboflow==1.1.0
scipy==1.11.1
six==1.16.0
supervision==0.11.1
tqdm==4.65.0
urllib3==2.0.3
wget==3.2
